/* GOOGLE FONT LINK  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* MAIN TAG STYLE */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background: white;
  overflow-x: hidden;
  scroll-snap-type: y inherit;
}

/* STYLE FOR ALL SECTIONS */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
  overflow: hidden;
}

.content {
  height: 100vh;
  background-color: blue;
  position: relative;
}

.image {
  height: 100vh;
  background-color: red;
  position: relative;
}
.image img {
  position: absolute;
}
.circle-content {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  right: -125px;
  top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.circle-content2 {
  position: absolute;
  z-index: 2;
  line-height: 0;
  color: white;
  right: 40px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* border: 1px solid #000; */
}
.circle-content2 h1 {
  width: 100%;
}
h1 {
  color: white;
  font-weight: 700;
}
.circle-content svg {
  background: #17263c;
  border-radius: 50%;
  z-index: 1;
}
.circle-content svg #Opaque_Ring {
  transition: all 1s;
}
.left-text {
  position: absolute;
  right: 0;
  margin-top: 10px;
}
.lower-content {
  position: relative;
  top: 75%;
  overflow: hidden;
}
.label-content {
  top: 53%;
}
.label-img {
  padding-bottom: 30px;
  opacity: 0.8;
}
.options button {
  background-color: transparent;
  border: none;
  color: white;
}

.skip-btn {
  letter-spacing: 5px;
}

/* FIRST SECTION STYLE */

/* content part of first section */

.first-section .content,
.first-section .circle-content {
  background: #17263c;
}
.about {
  position: absolute;
}
.first-section .image {
  background: #0e131c;
  overflow: hidden;
}
.first-section p {
  color: #66758c;
  font-weight: 500;
}

/* ASSETS PART OF FIRST SECTION */

.mobile1 {
  bottom: 0;
  left: 70px;
  width: 30%;
  height: 52%;
}
.pizza-box {
  left: 0;
  top: 0;
  height: 30%;
}
.burger {
  top: -100px;
  right: 100px;
}
.bread {
  bottom: -100px;
  right: -20px;
}
.mobile2 {
  width: 28%;
  height: 60%;
  top: 18%;
  left: 50%;
}
.mobile3 {
  display: none;
  width: 28%;
  height: 40%;
  left: 50%;
  bottom: -10px;
}
.masala {
  display: none;
  right: -100px;
  top: 40%;
}
/* FIRST SECTION END */

/* SECOND SECTION START */

.second-section .content {
  background: #0f113b;
}
.second-section .image {
  background: #151649;
}
.second-section svg {
  background: #0f113b;
}
.second-section p {
  color: #80839f;
}

.second-section .fitness-app {
  right: 50px;
  top: -100px;
  width: 17vw;
  height: 70vh;
}
.second-section .nasa-mobile-app {
  top: 20%;
  left: 20%;
  width: 21vw;
  height: 75vh;
}
.second-section .nasa-logo {
  width: 220px;
}
/* SECOND SECTION END */

/* THIRD SECTION START */

.third-section .content {
  background: #4e27ce;
}
.third-section .image {
  background: #1c0360;
}
.third-section .circle-content svg {
  background: #4e27ce;
}
.third-section p {
  color: #c9abff;
}
.third-section .image img {
  width: 30%;
  height: 60%;
}
.third-section .left-img {
  right: 70px;
}
.third-section .right-img {
  left: 170px;
  bottom: 0;
}
/* THIRD SECTION END */

/* FOURTH SECTION START  */
.fourth-section .content,
.fourth-section .circle-content svg {
  background: #6411a9;
}
.fourth-section .image {
  background: #cdcbcf;
}

.fourth-section p {
  color: #c17eff;
}
.fourth-section .image img {
  width: 35%;
  height: 70%;
}
.fourth-section .music1,
.fourth-section .music2 {
  top: 20%;
}
.fourth-section .music2 {
  right: 100px;
}
.fourth-section .music1 {
  left: 100px;
}
/* FOURTH SECTION END */

/* FIFTH SECTION START */

.fifth-section .content,
.fifth-section .circle-content svg {
  background: #022b92;
}
.fifth-section .image {
  background: white;
}

.fifth-section p {
  color: #a7c6ff;
}
.fifth-section .image img {
  width: 100%;
  height: 100%;
}

/* FIFTH SECTION END */

/* SIXTH SECTION START */

.sixth-section .content,
.sixth-section .circle-content svg {
  background: #01824d;
}
.sixth-section .image {
  background: #01b76a;
}
.fourth-section .content .circle-content2 {
  width: 25vw !important;
}

.sixth-section p {
  color: #5bbb95;
}
.sixth-section .image img {
  height: 70%;
}
.sixth-section .first-mobile {
  left: 250px;
  top: 25%;
  width: 36%;
}
.sixth-section .second-mobile {
  right: 100px;
  top: 20%;

  width: 30%;
}

/* SIXTH SECTION END */

/* SEVENTH SECTION START  */

.seventh-section .content,
.seventh-section .circle-content svg {
  background: #1363e8;
}
.seventh-section .image {
  background: #23cfeb;
}

.seventh-section p {
  color: #60a4fd;
}

.seventh-section .karavan1 {
  left: 120px;
  bottom: -50px;
  width: 25%;
  height: 50%;
}
.seventh-section .karavan2 {
  left: 120px;
  top: -80px;
  height: 60%;
}
.seventh-section .karavan3 {
  left: 350px;
  bottom: -180px;
  height: 60%;
}
.seventh-section .social-media {
  right: 20px;
  height: 60%;

  top: 20%;
}
.seventh-section .social-networking {
  left: 350px;
  height: 60%;

  top: -10px;
}

/* SEVENTH SECTION END*/

/* SVG STYLES */
.dots-nav:hover {
  cursor: pointer;
}

/* RESPONSIVE CODE && MEDIA QUERY START */
/* carousel buttons code */
.carousel-buttons {
  bottom: 10px;
  z-index: 3;
  visibility: hidden;
}
.carousel-buttons input {
  background-color: white;
  opacity: 0.4;
}
.carousel-buttons input[type="radio"]:checked {
  background-color: white; /* Set background color when checked */
  box-shadow: none;
  border: none;
}
.active {
  opacity: 1 !important;
}
/* SCALE ANIMATION */

@keyframes scale {
  0%{
  transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
/* .options>button:first-child {
  animation: scale .5s ease-in;
} */

@media (max-width: 767px) {
  body {
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: visible;
  }
  main {
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .section {
    height: 100vh;
    min-width: 100vw;
    flex-direction: column-reverse;
  }
  .circle-content {
    display: none;
  }
  .section .content {
    height: 50vh;
  }
  .section .image {
    height: 50vh;
  }
  .section .lower-content {
    left: 0;
    top: 20%;
  }

  .section .lower-content .soon-btn {
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 100px;
  }
  .section .label-content {
    left: 0;
    overflow: visible;
  }
  .section .label-img {
    width: clamp(250px, 20vw, 200px);
    opacity: 1;
    padding: 0;
    top: -90px;
    position: absolute;
    z-index: 4;
  }

  .skip-btn {
    display: none;
  }
  /* FIRST SECTION */

  /* FIRST SECTION ASSETS */
  .bread {
    width: clamp(200px, 60%, 200px);
    bottom: -100px;
    right: -100px;
  }
  .burger {
    right: -100px;
    top: -100px;
  }

  .mobile2 {
    top: -10px;
  }
  .mobile3 {
    display: inherit;
  }
  .masala {
    display: inherit;
  }
  .pizza-box {
    top: 0;
  }
  /* FIRST SECTION END */

  /* SECOND SECTION START  */

  .second-section .image,
  .second-section .content {
    overflow: hidden;
  }
  .second-section .fitness-app {
    height: clamp(350px, 20vh, 600px);
    width: clamp(150px, 20vw, 300px);
    right: 0;
  }
  .second-section .nasa-mobile-app {
    height: clamp(300px, 20vh, 600px);
    width: clamp(180px, 20vw, 320px);
    left: -20px;
    top: 110px;
  }
  /* SECOND SECTION END */

  /* THIRD SECTION START */
  .third-section .image img {
    width: clamp(150px, 30%, 500px);
    height: 60%;
  }
  .third-section .left-img {
    right: 20px;
    top: 0;
  }
  .third-section .right-img {
    left: 20px;
    bottom: 0;
  }

  /* THIRD SECTION END */

  /* FOURTH SECTION START */
  .fourth-section .image {
    overflow: hidden;
  }
  .fourth-section .image img {
    width: 45%;
    height: 90%;
  }
  .fourth-section .music1,
  .fourth-section .music2 {
    top: 20%;
  }
  .fourth-section .music2 {
    right: 20px;
  }
  .fourth-section .music1 {
    left: 20px;
  }

  /* FOURTH SECTION END */

  /*SIXTH SECTION START*/
  .sixth-section .image {
    overflow: hidden;
  }
  .sixth-section .image img {
    height: 70%;
  }
  .sixth-section .first-mobile {
    left: 20px;
    top: 32%;
    width: 46%;
  }
  .sixth-section .second-mobile {
    right: 0;
    top: 40%;

    width: 40%;
  }

  /* SIXTH SECTION END */

  /* SEVENTH SECTION START  */

  .seventh-section .image,
  .seventh-section .content {
    overflow: hidden;
  }
  .seventh-section .karavan1 {
    left: 0;
    bottom: -40px;
    width: 30%;
    height: 50%;
  }
  .seventh-section .karavan2 {
    left: 0px;
    top: -10px;
    height: 60%;
    width: 30%;
  }
  .seventh-section .karavan3 {
    left: 130px;
    bottom: -100px;
    height: 60%;
    width: 30%;
  }
  .seventh-section .social-media {
    right: 0;
    height: 60%;
    width: 30%;

    top: 50%;
  }
  .seventh-section .social-networking {
    left: 130px;
    height: 60%;
    width: 30%;

    top: 10px;
  }

  /* SEVENTH SECTION END */

  /* MOBILE CAROUSEL   */
  .carousel-buttons {
    visibility: visible;
  }
}
/* MEDIA QUERY END */
